<div class="room-new">
    <div class="room-view">
      <div class="room-view-box">

        <h2>ルーム情報登録</h2>

          <%= form_with model: @post, local: true do |f| %>
            <table>
                <tr>
                    <th><%= f.label :room_name,"ルーム名"%></th>
                    <td><%= f.text_field :room_name,placeholder:"ルーム名を入力", class:"form-control" %></td>
                </tr>

                <tr>
                    <th><%= f.label :room_introduction,"ルーム紹介"%></th>
                    <td><%= f.text_area :room_introduction,placeholder:"ルーム紹介を入力", class:"form-control" %></td>
                </tr>

                <tr>
                    <th><%= f.label :price,"料金"%></th>
                    <td><%= f.number_field :price,placeholder:"一日あたりの料金を入力", class:"form-control" %></td>
                </tr>

                <tr>
                    <th><%= f.label :address,"住所"%></th>
                    <td><%= f.text_field :address,placeholder:"住所を入力", class:"form-control" %></td>
                </tr>

                <tr>
                    <th><%= f.label :room_image,"ルーム画像" %></th>
                    <td><%= f.file_field :room_image %></td>
                </tr>
            </table>

            <div>
              <%= f.submit "登録" %>
            </div>

          <% end %>

      </div>
    </div>
</div>

